[general]
# bot API token from @godfather
token = "123456789:ABCDEFGHIJK"
# update raid message cycle in seconds
raidupdate_cycle_in_s = 60
# update external pogodata cycle in hours
pogodata_update_cycle_in_h = 24

[db]
# only RDM supported currently
host = "localhost"
port = 3307
name = "rdmdb"
user = "rdmuser"
password = "rdmuser_password"

[format]
# language of raid data.
# available langauges: "de", "en", "es", "fr", "hi", "id", "it", "ja", "ko", "pl", "pt-br", "ru", "sv", "th", "tr", "zh-tw"
language = "en"
# number of maximum chars for gym names
max_gymname_len = 27
# raidtime string format (see https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes)
time_format = "%H:%M"
# string to use, if there is no gymname set in database (NULL, None). Default: "N/A"
unknown_gym_name = "N/A"

[templates]
# General:
#  - Use keyword with ${keyword}
#  - available keyword can be find for every tmpl string in description

# message to display, if message was cut because of maximum Telegram message length reached
# Available keywords: -
tmpl_msglimit_reached_msg = "\n...msg too long"

# message to display, if there are no raids available.
# Available keywords: -
tmpl_no_raid_msg = "❌ No raids"

# message template for raidlevel title, if raidlevel grouping is activated.
#Available keyword: raidlvl_name, raidlvl_num, raidlvl_emoji
tmpl_grouped_title_msg = "\n<b><u>${raidlvl_name}:</u></b>"

# message template for single raidegg message
# Available keywords: raidlvl_name, raidlvl_num, raidlvl_emoji, gym_name, lat, lon, gmaps_url, time_start, time_end
tmpl_raidegg_msg = "🥚${raidlvl_num}* ${time_start}-${time_end}\n└📍<a href='${gmaps_url}'>${gym_name}</a>"

# message template for single raid message
# Available keywords: same as 'tmpl_raidegg_msg' + pokemon_name, atk_fast, atk_charge
tmpl_raid_msg = "🐣${pokemon_name} ${time_start}-${time_end}\n└⚔️${atk_fast}/${atk_charge}\n└📍<a href='${gmaps_url}'>${gym_name}</a>"

##################################################################
# add a separate [[raidconfig]] block for every raid channel/group
##################################################################
[[raidconfig]]
chat_id = "123456789"       # @channelname or chat_id number
raidlevel = [5,6]           # comma seperated raid levels (1-10) to be showed. Order in the raid message is the same as configurated.
eggs = true                 # (optional) true[default]: also show raid eggs, false: show only already started raids
raidlevel_grouping = true   # (optional) true[default]: order raids by raidlevel + time, false: order raids only by time
order_time_reverse = false  # (optional) true: order raids by raidlevel + time, false[default]: order raids only by time
pin_msg = true              # (optional) true[default]: always pin new raid message, false: don't pin raid message (if you change this, you need to delete old message first)
geofence = "40.0 7.0, 40.0 8.0, 50.0 8.0, 50.0 7.0, 40.0 7.0" # (optional): filter raids by geofence. Must be a closed geofence (last coordinate = first coordinate). Format: "lat_1 lon_1, lat_2 lon_2, ..., lat_1 lon_1"

# additional raidchannel(s) -> remove '#' and set values.
#[[raidconfig]]
#chat_id =
#raidlevel =
#eggs =
#raidlevel_grouping =
#order_time_reverse =
#geofence =